[DEFAULT]
provider=set_to_openai_or_azureai
openai_model=your_openai_model
openai_api_key=your_openai_api_key
openai_org_id=your_openai_org_id
azureai_api_key=your_azure_api_key
azureai_endpoint=https://your_azure_endpoint/
azureai_deployment=your_azureai_deployment_name
azureai_api_version=2024-12-20