INPUT 1: JOB CODE

@@INPUT1@@

INSTRUCTIONS

For the provided Talend Open Studio ETL code I want you to give me the source and target table structures for each tmap along with transformation rules.

Hints
* Respond as if you are responding to a program i.e. leave out any code block formatting.

Domain Hints
* None