INPUT 1: JOB CODE

@@INPUT1@@

INSTRUCTIONS

Take the step design spec and generate a full pyspark implementation as pyspark source code, ready to compile.

Hints
* Respond as if you are responding to a program i.e. leave out any code block formatting

Domain Hints
* None