INPUT 1: JOB CODE

@@INPUT1@@

INPUT 2: 

@@INPUT_FILE_CONTENT@@

INSTRUCTIONS

Referencing the details provided in the Talend Open Studio ETL code I want you to take the steps in input 2 and for each write out a suggested implementation in PySpark.

Hints
* Respond as if you are responding to a program i.e. leave out any code block formatting

Domain Hints
* None